
# Ignore all
*

# Unignore all with extensions
!*.*
!Makefile
# Unignore all dirs
!*/
!extensions
*.o
*.so
*log
*.test
a.out
*~
*.particles
*.bak
bin/*
kk*
*.nvvp
.\#*
\#*
*.dat

docs/_static
docs/_build

_minted*
ltxim*
README.pdf
README.tex